.list-img {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.text-img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}